:root {
  --primary: #766c7f;
  --secondary: #947eb0;
  --dark: #0d1321;
  --light: #f6f4f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--light);
}

h1 {
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 170px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}

.operators {
  display: flex;
}

button {
  appearance: none;
  outline: none;
  border: none;
  color: #f5b841;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
}

.numbers button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 10vw;
  }
  .App {
    width: 100%;
    height: auto;
  }
}
